
* {
    box-sizing: border-box;
}

/* fontface */

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-extra-bold;
    src: url(/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Poppins-semi-bold;
    src: url(/fonts/Poppins-SemiBold.ttf);
}


h1 h2 h3 h4 h5 h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}


img {
    border-radius: 5%;
}

img:hover {
    cursor: pointer;
}

/* Basic */

html {
color: #ffffff;
font-family: Poppins , sans-serif;
}

body{
    margin: 0;
    background-color: #22252c;
    background-image: url(/imgs/icons/canvas-bg.png);
    background-repeat: no-repeat;
    background-position-x: -20%;
}



/* layout */

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* components */

/* header */

.main-header {
    height: 73px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 37px;
    margin: 12px;
    max-width: 1257px;
}

.main-header .logo {
    font-size: 1.375rem;
    text-transform: uppercase;
    margin-inline-start: 125px;
}

.main-header .main-nav {
    margin-inline-end: 245px;
}

.main-header .main-nav li {
    margin-inline-start: 65px;
}

.main-header .main-nav li a {
    font-size: 1.3125rem;
}

.ham-btn {
    display: none;
}


/* helpers */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}
.flex.align-center {
    align-items: center;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* editor */



.main-editor {
    grid-template-columns: repeat(256, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-height: 500px;
    margin-bottom: 45px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    margin: 30px auto 45px auto;
    
}

/* canvas */

.canvas-container {
    max-height: 100%;
    margin: 10px;
    grid-column-start: 16;
    grid-column-end: 120;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 5%;
    
}

canvas {
    border: 1px solid black;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    
    
}


canvas img {
    max-height: 500px;
    max-width: 500px;
}



/* btn */

.btns-container{
    max-height: 500px;
    height: 100%;
    width: 100%;
    grid-column-start: 132;
    grid-column-end: 241;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 10px;
    background-color: #383b42;
    box-shadow: 1px 5px 0  #383b42;
    border-radius: 5%;
    grid-template-columns: repeat(105, min-max(1fr, 5px) );
    grid-template-rows: repeat(105,1fr);
}


.text-line {
    height: 55px;
    grid-column-start: 9;
    grid-column-end: 98;
    grid-row-start: 6;
    grid-row-end: 17;
    border-radius: 28px;
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}

.text-line:hover {
    cursor: pointer;
}

.midel-btn {
    border-radius: 10px;
    color: white;
   
}

.switch-line-btn {
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    font-family: Poppins-semi-bold;
    font-size: 28px;
    text-align: center;
    grid-row-start: 21;
    grid-row-end: 32;
    grid-column-start: 30;
    grid-column-end: 42;
}

.switch-line-btn img {
    max-width: 14px;
    height: 22px;
    

}

.add-line-btn {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    font-family: Poppins-semi-bold;
    font-size: 35px;
    grid-column-start: 47;
    grid-column-end: 59;
    text-align: center;
    grid-row-start: 21;
    grid-row-end: 32;
}

.delete-line-btn {
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    grid-column-start: 64;
    grid-column-end: 76;
    grid-row-start: 21;
    grid-row-end: 32;
}

.delete-line-btn img {
    max-width: 24px;
    height: 28px;
}

.line-move-btn {
    background-image: linear-gradient(-38deg, #e2e203 0%, #e2e203 1%, #8d8d06 100%);
    grid-row-start: 21;
    grid-row-end: 32;
   
}

.line-move-btn img {
    width: 14px;
    height: 22px;
    
}

.up-btn{
    grid-column-start: 13;
    grid-column-end: 25;
}

.down-btn {
    grid-column-start: 81;
    grid-column-end: 93;
}


.font-section {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    padding: 10px;
    padding-inline-start: 20px;
    grid-gap: 15px;
    grid-gap: 0.93rem;
    grid-column-start: 9;
    grid-column-end: 98;
    grid-row-start: 37;
    grid-row-end: 67;
    border-radius: 15px;
    background-color: #19a59f;
}

.font-section button {
    max-width: 55px;
    height: 50px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
  
}

.font-section select {
    max-width: 235px;
    height: 50px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    font-family: Poppins-semi-bold ,sans-serif;
    font-size: 1.687rem;
    text-align: center;
}

.align-btn img {
    max-width: 30px;
    height: 26px;
}

.font-size-btn {
    font-size: 32px;

}

.big-font {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.small font {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.align-left{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.align-right{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.align-center{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.change-color-btn {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.change-color-btn img {
    max-width: 37px;
    height: 30px;
}

.input-color {
    height: 50px;
    max-width: 55px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    opacity: 0;
}

.change-font-select {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.download-btn{
    grid-column-start: 56;
    grid-column-end: 99;
    grid-row-start: 89;
    grid-row-end: 99;
    border-radius: 15px;
    background-color: #8f44bb;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}


.ready-btn {
    grid-column-start: 8;
    grid-column-end: 51;
    grid-row-start: 89;
    grid-row-end: 99;
    border-radius: 15px;
    background-color: #1e7cd3;
}


.download{
    font-size: 1.3125rem;
    grid-column-start: 62;
    grid-column-end: 74;
}

.share {
    font-size: 1.3125rem;
    grid-column-start: 22;
    grid-column-end: 34;
}


/* Gallery */

.main-gallery{
    background-color: #383b42;
    margin-inline-end: 18px;
    margin-inline-start: 18px;
    border-radius: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.grid-container {
    margin: 0 auto;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    padding-top: 45px;
    padding-bottom: 45px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(173px, 1fr));
    grid-gap: 2.187rem
  
}



img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* footer */

.main-footer {
    background-color: black;
    height: 85px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    width: 100%;
    margin: 0;
    bottom: 0;
}

.footer-container {
    text-align: center;
    margin: 0;
    
}






@media (max-width: 1040px){
    .grid-container {
        grid-template-rows: repeat(4, minmax(240px, 1fr));
    }
}


@media (max-width: 940px){

    
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
        grid-template-rows: repeat(4, minmax(282px, 1fr));
        margin-bottom: 0;
    }


    .main-header {
        height: 145px;
        background-color: #5970c1;
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        border-radius: 0;
        margin: 0;
        margin-bottom: 15px;
        width: 100%;
        max-width: 1257px;
        position: relative;
    
    }


.main-header .logo {
    margin-inline-start: 50px;
    font-size: 2.75rem
}
 


/* hamburger */

.main-header .main-nav {
    position: absolute;
    top:145px;
    right: 0;
    margin-inline-end: 0;
    height: 184vh;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    transition: 0.8s;
    transform: translateX(200%);
    display: none;
}

body.menu-open .main-header .main-nav {
    display: block;
    transition: 0.8s;
    transform: translateX(0);
}

.main-header .main-nav li {
    margin-inline-start: 0;
    border-bottom: 1px solid black;
}

.main-header .main-nav li a {
    text-align: center;
    display: block;
    padding: 25px 150px;
    font-size: 1.3125rem;
}

.main-header .main-nav li a:hover {
    background-color: gray;
    color: inherit;
}

.ham-btn {
    display: block;
    padding-inline-end: 50px;
}


}

@media (max-width: 740px){
    .grid-container {
        grid-template-columns: repeat(2 , minmax(287px, 1fr));
        grid-template-rows: repeat(4, minmax(302px, 1fr));
        grid-gap: 0.937rem;
        padding-inline-start: 15px;
        padding-inline-end: 15px;
        
    }
/* 
    .main-editor {
        max-height: 400px;
    } */

    /* .canvas-container{
        max-height: 400px;
    } */

    .canvas-container canvas {
        height: 100%;
    }

    
    /* .btns-container {
        max-height: 400px;
        grid-row-gap: 5px;
    }  */

    
    .download-btn{
        
        grid-row-start: 89;
        grid-row-end: 99;
    
    }
    
    
    .ready-btn {
    
        grid-row-start: 89;
        grid-row-end: 99;
    
    }
}





@media (max-width: 700px) {
    .grid-container {
        grid-gap: 15px;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    
    .main-gallery{
        margin-inline-start: 15px; 
        margin-inline-end: 15px; 
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }
} 



@media (max-width: 650px){
    .grid-container {
        grid-template-columns: repeat(1 , minmax(287px, 1fr));
        grid-template-rows: repeat(4, minmax(400px, 1fr));
        grid-gap: 0.937rem;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        
    }
}